footer {
  width: 100%;
  height: 39vh;
  color: #AEBAC1;
  font-size: 18px;
  font-weight: 500;
  background: #303030;
  display: flex;
  justify-content: center;
  align-items: center;

    .footer-content {
      ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;

          .phone-number {
            font-size: 25px;
            color: #FFFFFF;
          }
      }

      .icons-content {
        width: 50%;
        font-size: 30px;
        display: flex;
        justify-content: space-between;
        margin: 10px auto 0;
      }
    }


}

