footer {
  width: 100%;
  color: #AEBAC1;
  font-size: 15px;
  font-weight: 500;
  background: #303030;
  display: flex;
  justify-content: center;
  align-items: center;

    .footer-content {

      margin: 80px 0;

      ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;

          .phone-number {
            font-size: 18px;
            color: #FFFFFF;
          }
      }

      .icons-content {
        width: 50%;
        font-size: 25px;
        display: flex;
        justify-content: space-between;
        margin: 10px auto 0;
      }
    }
}

@media (min-width: 950px) {
  footer {
    font-size: 18px;

      .footer-content {
        ul {
          .phone-number {
            font-size: 25px;
          }
        }

        .icons-content {
          font-size: 35px;
        }
      }
  }
}

